body {
  margin: 0;
  background: #111111;
  font-family: "Euclid Circular A", "Poppins";
}

main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

section {
  transform-style: preserve-3d;
  position: relative;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.no-parallax {
  background-color: #111111;
  z-index: 999;
}

.parallax {
  height: 50vh;
}

section h1 {
  text-align: center;
  font-size: 60px;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.bg::after {
  background: url("image.jpg");
  background-size: cover;
}
